<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vagas Devs</title>
    <link rel="stylesheet" href="/css/layout.css">
</head>
<body>
    <header>
        <input type="checkbox" id="bt-menu">
        <label for="bt-menu">&#9776;</label>
        <div class="esconde">
            <a class="logo" href="/">Vagas Devs</a>
        </div>
        <div class="esconde header-div">
            <a class="ver-vaga" href="/">Ver vagas</a>            
            <a class="abrir-vaga" href="/vaga/pagAdd">Abrir vaga</a>
        </div>  
    </header>
    {{{body}}}
</body>
</html>